/* outline: 1px solid red;*/


/*Общие стили*/

html {
    font-family: "Kanit", "Arial", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

main {
    width: 1200px;
    margin: 0 auto;
    background-image: url("../img/main_backgound2.jpg");
    background-repeat: round;
    background-size: cover;
    color: white;
    box-shadow: 200px 200px 20px 2000px #020202;
}

h1,
h2,
h3 {
    font-family: "Kanit";
    font-weight: 700;
}


/*Стили для классов*/

.me {
    height: 550px;
    display: flex;
    align-items: center;
}

.slogan-text {
    font-size: 44px;
}

.skills {
    display: flex;
    flex-direction: row;
    height: 600px;
}

.skills:hover {
    border-color: #c22085;
    border-style: dotted;
    border-width: 10px;
}

.slogan {
    text-transform: uppercase;
    font-size: 26px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-style: italic;
    color: #c22085;
    padding-top: 20px;
    padding-bottom: 20px;
}

.skills-text {
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.skills-container1,
.skills-container2,
.skills-container3 {
    flex-grow: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.skills-1,
.skills-2,
.skills-3 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
}