/* outline: 1px solid red;*/


/*Общие стили*/

html {
    font-family: "Caveat", "Arial", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url("../img/main_background4.jpg");
}

main {
    width: 1200px;
    margin: 0 auto;
    color: white;
}

h1,
h2,
h3 {
    font-family: "Caveat";
    font-weight: 700;
}

a {
    font-size: 26px;
    color: white;
    font-weight: 700;
}

section {
    box-sizing: border-box;
    padding: 10px;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: white;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
}

button:focus,
button:active {
    outline: none;
    color: #c22085;
}


/*Стили для классов*/

.visually-hidden {
    display: none;
}

.rus_button {
    position: absolute;
    left: 19%;
    top: 5%;
}

.eng_button {
    position: absolute;
    left: 22%;
    top: 5%;
}

.me {
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.slogan-text {
    font-size: 50px;
}

.skills {
    display: flex;
    flex-direction: row;
    height: 600px;
}

.skills:hover,
.education:hover,
.training:hover,
.projects:hover,
.contacts:hover {
    border-color: #c22085;
    border-style: dotted;
    border-width: 10px;
    padding: 0;
    background-color: 255, 255, 255, .3;
    border-radius: 50px 0;
}

.slogan {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-style: italic;
    color: #c22085;
    padding-top: 20px;
    padding-bottom: 20px;
}

.skills-text {
    color: white;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
}

.skills-container1,
.skills-container2,
.skills-container3 {
    flex-grow: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.skills-1,
.skills-2,
.skills-3 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
}

.education {
    display: flex;
    height: 500px;
}

.certificate-1,
.certificate-2 {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.training,
.projects {
    display: flex;
    justify-content: space-around;
}

.train-header,
.projects-header,
.contacts-header {
    font-size: 36px;
}

.link-CW {
    font-size: 32px;
    font-style: italic;
    color: white;
}

.contacts-header {
    text-align: center;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Анимация*/

@keyframes show {
    0% {
        transform: translateY(-2000px);
    }
    100% {
        transform: translateY(0px);
    }
}

.spaceman-div {
    position: absolute;
    animation-name: show;
    animation-duration: 2s;
    left: 70%;
    top: 2%;
}

@keyframes shake {
    0%,
    100% {
        transform: translateY( 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateY(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateY(10px);
    }
}

.spaceman-shake {
    animation-name: shake;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
}

@keyframes disappearance {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.spaceman-disappear {
    animation-name: disappearance;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}